html{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    h1{
        font-size: 50px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}
.h1center {
    justify-content: center;
}
.borderescudos{
    margin: map-get($misbordes , mrg );
    border-bottom: map-get($misbordes , bdbottom );
}
.inicioback{
    background-color: rgba($colorbck-index, $alpha: 1.0);
}